.side-bar-nav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    transition: all 0.2s;
    padding-top: 60px;
    ul {
        padding: 45px 0;
        margin: 0;
        list-style: none;
    }
    .nav-item::before {
        content: "";
        width: 22px;
        height: 22px;
        background-color: #000000;
        border-radius: 50%;
        display: inline-block;
        margin-right: 20px;
    }
    .nav-item {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: #000000;
        padding: 20px;
        font-size: 16px;
        cursor: pointer;
    }
}