body{
  // background: url("../../assets/images/dashbord-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-color: #F7FBFF;
}
.flex-container {
  display: flex;
}

.total-value-card {
  border: 0.5px solid #008FFF;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;  
  height: 100%;
  // margin-top: 10px;
  h2{
    color: #202A43;
    font-size: 35px;
    letter-spacing: 2.22px;
    font-weight: 700;
    margin: 0;
  }
  h6{
    color: #c0c0c0;
    font-size: 17px;
    font-weight: 500;
    margin: 7px 0;
  }

}

.containerClass {
  box-sizing: border-box;
  min-width: 0px;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 20px 0px 0px;
  -webkit-box-pack: justify;
  justify-content: flex-end;
}

.buttonStyle {
  min-height: 48px;
  padding: 12px;
  margin: 0px 0px 0px 10px;
  width: 30%;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  outline: none;
  border: 1px solid transparent;
  text-decoration: none;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  background-image: linear-gradient(#f81178, #ac2bef);
  color: white;
  border-radius: 7px;
}

@media screen and (max-width: 450px) {
  .containerClass {
    box-sizing: border-box;
    min-width: 0px;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 20px 0px 0px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
  }

  .buttonStyle {
    min-height: 48px;
    padding: 12px;
    margin: 10px 0px 0px 10px;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    outline: none;
    border: 1px solid transparent;
    text-decoration: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    background-image: linear-gradient(#f81178, #ac2bef);
    color: white;
    border-radius: 7px;
  }
}
